/* Universal selector it will apply all the style to it */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: all 400ms;
    border: none;
    outline: none;
    text-transform: capitalize;
}

/* the  colors to use for the project */



html {
    font-size: 52%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

/* it will add a background color to the body */

body {
    scrollbar-width: 30rem;
    background: var(--Light-Grayish-Blue);
    width: 100%;
    background-color: transparent;
}

/* This will style  the header */
/* header {
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.2);
    background: var(--White);
    height: 100px;
}

#menu-btn {
    display: none;
    font-size: 2.4rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--ime-Green);
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.myHeader a .logo {
    font-weight: bolder;
    font-size: 2.7rem;
    margin-left: 2rem;
}

.myHeader a i {
    color: #444;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.navbar a {
    /* color:  #444;
    font-size: 2rem;
    margin-left: 2rem;
}

.navbar a:hover {
    color: #444
}

.navbar.show{
    display: block;
} */

 /* @media (max-width: 767px) {

    .navbar{
        margin-top: 2rem;
    }
    .navbar a{
        width: 100%;
        flex-direction: column;
        display: none;
        width: 100%;            
    }
}  */


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #7d0bfe;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.2);
    padding: 2rem 3rem ;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 2.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    width: 20px;
    height: 21px;
}


#menu-btn {
    display: none;
    font-size: 3.4rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--ime-Green);
    cursor: pointer;
    margin-top:1rem ;
}

@media (max-width: 800px) {
    body{
        overflow-x: hidden;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        font-size: 2rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

main {
    padding: 2rem 9%;
    width: 100%;
}

.hero-section {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.content {
    margin-top: 3rem;
}

.hero-section .content h1 {
    font-size: 54px;
    font-family: monospace;
    font-weight: bolder;
    line-height: 1.5;
}


.hero-section .content h1 span {
    font-size: 6rem;
    font-family: cursive;
    color: #7d0bfe;
    margin-top: -8rem;
}


.hero-section .content p {
    font-size: 2.1rem;
    line-height: 2.2;
    width: 95%;
    margin-top: 2rem;
    font-family: monospace;
}

#color {
    padding: 2.5rem 2.5em;
    color: ghostwhite;
    font-size: 1.5rem;
    background-color: #7d0bfe;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: bolder;
}


.content #border {
    padding: 2rem 2.5em;
    color: black;
    font-size: 1.5rem;
    background-color: ghostwhite;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    border: 3px solid black;
    cursor: pointer;
    font-weight: bolder;
}

.hero-section .img {
    transform: translateY(0px);
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}


.img img {
    width: 100%;
    height: auto;
    animation: float 6s ease-in-out infinite;
    transform: scale(0.7);
    margin-left: 4rem;
    margin-top: 2rem;
    border-radius: 30px;
}

section h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 10rem;
}

.sectoin-container {
    margin-top: 4rem;
    width: 100%;
}

.polygon-support {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin: 2rem;
    cursor: pointer;
    font-size: 4rem;
}


.whoWeAre h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 10rem;
    font-family: sans-serif;
}


.whoWeAre-container .contents {
    padding: 3rem 14%;
}

.whoWeAre-container .contents #ptag {
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.8;
    font-weight: 100;
    display: block;
    margin: 2rem;
    color: #444;
    font-family: 'Times New Roman', Times, serif;
}


.whoWeAre-container .contents .pbtn {
    margin-left: 45%;
    padding: 2.7rem 4em;
    color: ghostwhite;
    font-size: 1.5rem;
    background-color: #7d0bfe;
    border-radius: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    font-weight: bolder;
}

#myCommunity {
    background-color: #7d0bfe;
    margin: 0 auto;
    display: block;
    width: 85%;
    height: 90%;
    border-radius: 30px;
}

.community {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}


#myCommunity .community .community-texts h1 {
    font-size: 69px;
    font-family: monospace;
    font-weight: bolder;
    line-height: 1.2;
    color: ghostwhite;
    display: flex;
    padding: 4rem 9%;
    margin-top: 5rem;
    width: 50%;
}

#myCommunity .community .community-texts p {
    font-size: 2.8rem;
    line-height: 1.8;
    width: 95%;
    margin-top: -6rem;
    font-family: monospace;
    color: #ff9edb;
    padding: 2rem 7%;
}


#myCommunity .community .community-texts a button {
    font-size: 1.6rem;
    line-height: 1.8;
    font-family: monospace;
    padding: 2rem 1em;
    border-radius: 0.5rem;
    margin-left: 8rem;
    /* margin: 1rem; */
    border: solid 2.5px black;
}

.community .community-img img {
    width: 100%;
    margin-top: 4rem;
    margin: 0 auto;
    border-radius: 4rem;
    padding: 3rem 2em;
}

#header {
    text-align: center;
    font-size: 8rem;
    margin-top: 8rem;
}

.ourNumbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 80%;
    margin: 0 auto;

}

.numbers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.number {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.number h1 {
    font-size: 7em;
    font-weight: 2000;
    margin-bottom: 10px;
    color: ghostwhite;
    font-family: sans-serif;
}

.number p {
    font-size: 2em;
    color: #ff9edb;
    font-weight: bolder;
}



@media (min-width: 768px) {
    .ourNumbers {
        height: 350px;
        border-radius: 12px;
    }
}



@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .ourNumbers {
        width: 90%;
        height: 100%;
    }
}



.impact {
    padding: 2rem 4%;
}


.impact center h1 {
    font-size: 7rem;
    font-weight: bolder;
    margin-top: 5rem;
    text-align: center;
}

.impact-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7rem;
}

.impact-box .impact-texts {
    padding: 2rem 9%;
    margin-top: -4rem;
}


@media (min-width: 768px) {
    .impact-box .impact-texts {
        padding: 2rem 9%;
        margin-top: -4rem;
    }

    .impact-box {
        display: grid;
        grid-template-columns: repeat(2, 1, 1fr);
        gap: 7rem;
    }

}

.impact-box .img-impact {
    background-color: #f8f2ff;
    width: 100%;
    margin-top: 3rem;
}

.impact-box .img-impact img {
    width: 100%;
    margin-top: 12rem;
}

.impact-box .impact-texts h1 {
    font-family: Arial, sans-serif;
    color: #7d0bfe;
    font-size: 12rem;
    margin-top: 6rem;
}

.impact-box .impact-texts h2 {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 5rem;
}



.impact-box .impact-texts p {
    font-family: sans-serif;
    color: black;
    font-size: 2.5rem;
    font-weight: lighter;
    line-height: 1.5;
    margin-top: 2rem;
    width: 100%;

}


.impact-box .impact-texts #impact {
    padding: 2rem 3em;
    color: black;
    font-size: 1.5rem;
    background-color: ghostwhite;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-left: 1rem;
    border: 3px solid black;
    cursor: pointer;
    font-weight: bolder;
}

.Highlights {
    padding: 4rem 6%;
}

.Highlights h1 {
    font-size: 8rem;
    margin-top: -3rem;
    font-family: sans-serif;
    font-weight: bolder;
}

.Highlights-box {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
}


.Highlights-img1 img {
    width: 90%;
    height: 60%;
}

.Highlights-img1 a {
    background-color: #f8f2ff;
    font-size: 1rem;
    padding: 1rem 4em;
    border-radius: 1rem
}

.Highlights-img1 .Hight-content p {
    font-family: sans-serif;
    color: black;
    font-size: 2.5rem;
    font-weight: lighter;
    line-height: 1.5;
    margin-top: 4rem;
    width: 70%;
}

.sponsor {
    background-color: #7d0bfe;
    width: 97%;
    margin: auto;
}
.sponsor-img {
    margin: auto;
}

.sponsor .sponsor-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;

}

.sponsor .sponsor-words {
    background-color: black;
}

.sponsor .sponsor-box .sponsor-words h3 {
    font-size: 69px;
    font-family: monospace;
    font-weight: bolder;
    line-height: 1.2;
    padding: 4rem 9%;
    color: ghostwhite;
}


.sponsor .sponsor-box .sponsor-words p {
    font-size: 26px;
    font-family: monospace;
    font-weight: bolder;
    line-height: 1.2;
    padding: 2rem 5%;
    color: ghostwhite;
    width: 100%;
    margin-top: -3rem;
}


.sponsor .sponsor-box .sponsor-words button {
    margin: auto;
    display: block;
    margin-left: 20rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-family: monospace;
    /* padding: 2rem 5%; */
    cursor: pointer;
    position: relative;
    text-align: center;
    /* width: 12rem;
    margin-top: 3rem; */
}


#ecosytem {
    background-color: #f8f2ff;
    margin: auto;
    position: relative;
}

.eco-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

}

.eco-container .header1 h1 {
    font-size: 49px;
    font-family: monospace;
    font-weight: bolder;
    padding: 3rem 15%;
    color: black;
    margin-top: 5rem;
    text-align: center;
}

.eco-container .header1 span {
    color: #7d0bfe;
}

.eco-container .header1 button {
    padding: 2rem 2em;
    color: ghostwhite;
    font-size: 1.5rem;
    background-color: #7d0bfe;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: bolder;
    display: block;
    margin: auto;
}


#ecosytem .icon-eco {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 4rem;
    width: 80%;
}

#ecosytem .icon-eco img {
    color: rgb(195, 195, 199);
    font-size: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: bolder;
}

.support {
    background-color: black;
    width: 80%;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
    color: #eee;
    border-radius: 2rem;
    margin-top: 8rem;
}

.support-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
    height: 500px;
    width: 100%;
}

@media (min-width: 768px) {

    .support-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

   
}

.sup-text {
    flex-basis: 55%;
    font-size: 1.5rem;
    line-height: 1;
}

.support-button {
    color: black;
    background-color: whitesmoke;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: bolder;
    display: block;
    margin: auto;
    font-size: 1.5rem;
    font-size: 2vw;
    padding: 1vw 1vh;
}

.support-container .div img {
    width: 100%;
    margin-top: 4rem;
}


/**************************/

.event {
    padding: 2rem 2%;
    background-color: #f8f2ff;
    margin-top: 6rem;
    width: 100%;
}

.event center h1 {
    font-size: 7rem;
    font-weight: bolder;
    margin-top: 4rem;
    text-align: center;
}

.event-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-box .event-texts {
    padding: 2rem 9%;
    margin-top: -4rem;
}



#impact {
    padding: 2.5rem 3.5em;
    color: black;
    font-size: 1.5rem;
    background-color: ghostwhite;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    border: 3px solid black;
    cursor: pointer;
    font-weight: bolder;
    transition: background-color 0.3s ease;
}

#impact:hover {
    background-color:#7d0bfe;
    color: #f8f2ff;
}



@media (max-width: 768px) {
    .event-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 7rem;

    }

    #menu-btn {
        display: inline-block;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    .event-box .event-texts p {
        font-family: sans-serif;
        color: black;
        font-size: 1.5rem;
        font-weight: lighter;
        line-height: 1.5;
        margin-top: 2rem;
        width: 100%;
    }

    .img-event img {
        width: 100%;
        height: 80%;
    }

    #impact {
        padding: 1.5rem 2.5em;
        color: black;
        font-size: 1.5rem;
        background-color: ghostwhite;
        border-radius: 1rem;
        margin-top: 2rem;
        margin-left: 1rem;
        border: 3px solid black;
        cursor: pointer;
        font-weight: bolder;
        transition: background-color 0.3s ease;
    }

}



.event-box .event-texts h1 {
    font-family: Arial, sans-serif;
    color: #7d0bfe;
    font-size: 12rem;
    margin-top: 6rem;
}

.event-box .event-texts h2 {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 5rem;
}



.event-box .event-texts p {
    font-family: sans-serif;
    color: black;
    font-size: 2.5rem;
    font-weight: lighter;
    line-height: 1.5;
    margin-top: 2rem;
    width: auto;
}


.event-box .event-texts #impact {
    padding: 3rem 4.5em;
    color: black;
    font-size: 1.5rem;
    background-color: ghostwhite;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-left: 1rem;
    border: 3px solid black;
    cursor: pointer;
    font-weight: bolder;
}

.video .container {
    display: block;
    width: 70%;
    margin: auto;
}



center button {
    margin-top: 5rem;
}

center button a {
    padding: 3.5rem 3.5em;
    color: ghostwhite;
    font-size: 1.8rem;
    background-color: #7d0bfe;
    border-radius: 0.5rem;
    margin-top: 4rem;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: bolder;
}

footer {
    background-color: black;
    height: 100%;
    margin-top: 6rem;

}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer-container .istsideOfFooter {
    border: solid 1.5px white;
    width: 39%;
    height: 370px;
    border-radius: 2.5rem;
    padding: 2em 3rem;
    margin-top: 6rem;
    margin-left: 6rem;
}

.footer-container .istsideOfFooter .text p {
    font-size: 2.5rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 7rem;
    width: 100%;
}

.footer-container .istsideOfFooter form input {
    padding: 2.1em 9rem;
    margin-top: 3rem;
    background-color: rgb(13, 13, 13);
    border: solid 4px rgb(48, 48, 48);
    border-radius: 1.5rem;
    color: white;
}



.footer-container .istsideOfFooter form button {
    padding: 2.5rem 2.5em;
    color: ghostwhite;
    font-size: 1.5rem;
    background-color: #7d0bfe;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.footer-container .istsideOfFooter form input:hover {
    padding: 2em 9rem;
    margin-top: 3rem;
    background-color: rgb(13, 13, 13);
    border: solid 3px #7d0bfe;
    border-radius: 1.5rem;
}




footer a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5%;
}

footer nav {
    text-align: center;
    margin-left: 50%;

}

.secondsideOfFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12rem;
    color: ghostwhite;
}

.ul {
    font-size: 2em;

}

.ul h1 {
    color: #7d0bfe;
    font-size: 2rem;
}

.ul ul li {
    font-size: 2.5rem;
    line-height: 2;
    cursor: pointer;
}

.lastfooter{
    background-color: #7d0bfe;
    width: 100%;
    height: 80%;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 1em 7%;
    margin-top: 2rem;
}


@media (max-width: 767px) {
    footer {
        grid-template-columns: 1fr;
        padding: 0.5em;
    }

    .istsideOfFooter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12rem;
        color: ghostwhite;
        width: 100%;
        background-color: #ff9edb;
        padding: 2em 9%;
        display: none;
    }
    .lastfooter{
        background-color: #7d0bfe;
        width: 100%;
        height: 70%;
        color: white;
        font-size: 2.5rem;
        text-align: center;
        padding: 1em 7%;
        margin-top: 2rem;
    }
}



@media (max-width:768px) {
    .hero-section {
        width: 100%;
    }

    .hero-section .content h1 span {
        font-size: 4rem;
        font-family: cursive;
        color: #7d0bfe;
        margin-top: -8rem;
    }

    .hero-section .content p {
        font-size: 2rem;
        line-height: 1.5;
        width: 100%;
        margin-top: 2rem;
        padding: 1rem 1%;
        font-family: monospace;
    }


    #color {
        padding: 2rem 1.2em;
        color: ghostwhite;
        font-size: 2rem;
        background-color: #7d0bfe;
        border-radius: 1rem;
        margin-top: 2rem;
        margin-left: 1rem;
        cursor: pointer;
        font-weight: bolder;
    }

    .content #border {
        display: none;
    }

    .img img {
        width: 120%;
        height: auto;
        animation: float 6s ease-in-out infinite;
        transform: scale(0.7);
        margin-left: -2rem;
        margin-top: 6rem;
    }

    .whoWeAre-container .contents {

        padding: 2rem 5%;
    }

    .whoWeAre-container .contents #ptag {
        font-size: 2rem;
        text-align: center;
        line-height: 1.8;
        font-weight: 100;
        display: block;
        margin: 2rem;
        color: #444;
        font-family: 'Times New Roman', Times, serif;
    }

    .whoWeAre-container .contents .pbtn {
        margin-left: 25%;
        padding: 2rem 2em;
        color: ghostwhite;
        font-size: 1.5rem;
        background-color: #7d0bfe;
        border-radius: 0.5rem;
        margin-top: 2rem;
        cursor: pointer;
        font-weight: bolder;
    }


    #myCommunity .community .community-texts p {
        font-size: 2rem;
        line-height: 1;
        font-family: monospace;
        color: #ff9edb;
        width: 100%;
    }

    #myCommunity .community .community-texts h1 {
        font-size: 49px;
        font-family: monospace;
        font-weight: bolder;
        line-height: 1.2;
        color: ghostwhite;
        display: flex;
        padding: 4rem 9%;
        margin-top: 5rem;
        width: 50%;
        text-align: center;
    }

    #myCommunity .community .community-texts a button {
        margin-left: 25%;
        padding: 2rem 2em;
        color: black;
        font-size: 1.5rem;
        background-color: ghostwhite;
        border-radius: 0.5rem;
        margin-top: 2rem;
        cursor: pointer;
        font-weight: bolder;

    }

    #myCommunity .community .community-img img {
        width: 100%;
        margin-top: 4rem;
        display: none;
    }


    .impact-box .impact-texts h1 {
        font-family: Arial, sans-serif;
        color: #7d0bfe;
        font-size: 12rem;
        text-align: center;
    }

    .impact-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }



    .impact-box .img-impact img {
        width: 100%;
        margin-left: 1rem;
    }

    .impact-box .impact-texts #impact {
        padding: 2rem 2em;
        color: black;
        font-size: 1.5rem;
        background-color: ghostwhite;
        border-radius: 0.5rem;
        margin-top: 2rem;
        margin-left: 4rem;
        border: 3px solid black;
        cursor: pointer;
        font-weight: bolder;
    }




    .Highlights h1 {
        font-size: 4rem;
        margin-top: -3rem;
        font-family: sans-serif;
        font-weight: bolder;
        text-align: center;
    }

    .Highlights-img1 .Hight-content p {
        font-family: sans-serif;
        color: black;
        font-size: 2.5rem;
        font-weight: lighter;
        line-height: 1.5;
        margin-top: 4rem;
        text-align: center;
        width: 100%;
    }

    .sponsor .sponsor-box .sponsor-words h3 {
        font-size: 46px;
        font-family: monospace;
        font-weight: bolder;
        color: ghostwhite;
        text-align: center;
    }


    .sponsor .sponsor-box .sponsor-words p {
        font-size: 19px;
        font-family: monospace;
        font-weight: bolder;
        line-height: 1.2;
        color: ghostwhite;
        margin: 3rem;
    }

    .sponsor .sponsor-box .sponsor-words button {
        font-size: 2rem;
        width: 70%;
        margin-top: -4rem;
        font-family: monospace;
        border-radius: 0.5rem;
        margin-left: 4rem;
    }

    .impact-box .img-impact img {
        width: 90%;
        margin-top: 12rem;
    }


    .eco-container img {
        display: none;
    }

    .number h1 {
        font-size: 5em;
        font-weight: 5000;
        margin-bottom: 10px;
        color: ghostwhite;
        font-family: sans-serif;
    }

    #header {
        text-align: center;
        font-size: 6rem;
        margin-top: 8rem;
    }

    #myCommunity .community .community-texts a button {
        border-radius: 0.5rem;
        padding: 2rem 5%;
        font-family: monospace;
    }



    .impact center h1 {
        font-size: 4rem;
        font-weight: bolder;
    }


    .impact-box .impact-texts p {
        font-family: sans-serif;
        color: black;
        font-size: 2rem;
        font-weight: lighter;
        line-height: 1.5;
        margin-top: 3rem;
        margin: auto;
        width: 100%;
    }

    .eco-container .header1 h1 {
        font-size: 40px;
        font-family: monospace;
        font-weight: bold;
        padding: 1rem 9%;
        color: black;
        line-height: 1.2;
        width: 100%;
    }

    .support-button {
        color: black;
        background-color: whitesmoke;
        border-radius: 1rem;
        margin-top: rem;
        margin-left: 1rem;
        cursor: pointer;
        font-weight: bolder;
        display: block;
        margin: auto;
        font-size: 2rem;

        padding: 5vw 5vh;
    }

    .video {
      display: none;
    }

    .support {
        background-color: black;
        width: 100%;
        border: 1px solid black;
        padding: 20px;
        margin: auto;
        color: #eee;
        border-radius: 2rem;
        margin-top: 8rem;
    }

}

